= div_for comment do
  .del
    = link_to image_tag("web-app-theme/icons/cross.png", alt: 'Delete'), [comment.event, comment], method: "delete", remote: true, class: "button", confirm: t("web-app-theme.confirm", default: "Are you sure?")
  %span.author= comment.author
  = comment.body
