.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to t("web-app-theme.list", default: "List"), events_path
      %li= link_to t("web-app-theme.new", default: "New"), new_event_path
  .content
    %h2.title
      = t("web-app-theme.all", default: "All")
      Events
    .inner= render @events
- content_for :sidebar, render(partial: 'sidebar')
